.slide-background{
    background-color: #FCEAE8;
}
.catagory img{
    width: 100px;
    
}
.panda-buy{
    background-color: #FF438E;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
}